global
    daemon
    maxconn 256

defaults
    mode http
    option httplog
    timeout client 7s
    timeout connect 7s
    timeout server 7s
    timeout http-request 7s
    log global
    errorfile 429 /usr/local/etc/haproxy/429.http
    errorfile 503 /usr/local/etc/haproxy/503.http

frontend http_front
    bind *:90

    stick-table type ip size 1000k expire 100 store http_req_rate(1s)
    http-request track-sc0 src
    http-request deny deny_status 429 if { sc_http_req_rate(0) gt 10 }

    default_backend servers

backend servers
    balance roundrobin
    server server2 host.docker.internal:8090 check
    server server3 host.docker.internal:8100 check
